/* 예시파일 */

:root {
  --layout-color: #fff;
}

/**메인페이지**/

.header {
  min-height: 56px;
}

.header__logo-img {
  height: 32px;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 364px;
  height: 56px;
  line-height: normal;
  margin-left: 12px;
  margin-right: 12px;
}

.header__left-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 56px;
  height: 56px;
  top: 50%;
}