:root {
  --layout-color: #fff;
}

/* 전체 */

.l-content {
  min-height: 1000px;
}

.l-panel {
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.fab-top-down {
  display: flex;
  height: 32px;
}

.divider {
  height: 12px;
  background-color: #f5f6f8;
}

/* 푸터 */

.footer {
  background-color: #f5f6f8;
  border: none;
}

/* 메인페이지 */

.main-view {
  margin-bottom: 60px;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  padding: 12px 20px;
}

.hamburger-menu {
  height: 32px;
  width: 32px;
}

.header__left-btn {
  width: 32px;
  height: 32px;
  position: static;
  transform: none;
  cursor: pointer;
}

.hamburger-menu {
  height: 32px;
  width: 32px;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  max-width: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}

.header__title.PRODUCT {
  font-size: 0;
}

.header__logo-img {
  height: 24px;
}

.header__cart-btn {
  height: 32px;
  width: 32px;
  position: static;
  transform: none;
}

.shopping-basket {
  width: 0;
}

.shopping-basket__count {
  bottom: 15px;
}

/* 하단 네비게이션 */

.bottom-nav__link-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* 메인 배너 */

.hero {
  margin-top: 12px;
  overflow: hidden;
  cursor: pointer;
}

/* 메인 카테고리 */

.main-category {
  margin-top: 40px;
}

.category-container {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.button-container-first,
.button-container-second {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* 메인 - 상품 정렬 */

.product-section {
  margin-top: 60px;
}

.product-section__title {
  height: 24px;
  font-size: 20px;
  font-weight: 800;
  padding: 0px 20px;
  margin: 0;
}

.product-section__more {
  margin: 12px 20px 40px 20px;
  height: 48px;
  background-color: #f5f6f8;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.thumb-GALLERY {
  padding: 20px;
  gap: 12px;
}

:where(.thumb-GALLERY, .thumb-CART, .thumb-SIMPLE_IMAGE) .thumb-item {
  width: 48%;
}

:where(:where(.thumb-GALLERY, .thumb-CART, .thumb-SIMPLE_IMAGE).PC) .thumb-item:nth-child(n + 1) {
  margin-left: 0;
}

.thumb-item PC {
  margin-left: 0;
}

.thumb-item__media {
  border-radius: 8px;
}

.thumb-item__info {
  padding: 8px 0px;
}

.thumb-item-badges {
  overflow: hidden;
  border-radius: 8px;
  top: 8px;
  left: 8px;
}

.product-thumb-title {
  padding: 0;
  font-weight: 400;
  margin-bottom: 8px;
}

.product-thumb-price {
  height: 20px;
  font-size: 16px;
  font-weight: 900;
}

.product-thumb-unit {
  padding-left: 1px;
  vertical-align: baseline;
  font-size: 16px;
  font-weight: 900;
  margin: 0;
}

/* 카테고리 전체 */

.category-nav-sign-in {
  padding: 0px;
  height: 56px;
  background-color: #fff;
  border-bottom: 2px solid #f5f6f8;
}

.category-nav-links__item {
  background-color: #ffffff;
  height: 56px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
}

.category-nav-links__item:last-of-type {
  border-bottom-width: 1px;
}

.category-nav-links__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  right: 16px;
}

/* 카테고리 */

.breadcrumb__section {
  cursor: pointer;
}

.total-sort {
  position: sticky;
  top: 56px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.total-sort__count .highlight {
  margin-left: 4px;
  margin-right: 2px;
}

.total-sort__select {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total-sort__select-box {
  border: 0;
  line-height: 1.5;
  text-align: right;
  padding: 0;
}

.select-box--sort::before {
  width: 0px;
}

.select-box--sort select {
  padding: 0px 4px 0px 8px;
  font-weight: 400;
  cursor: pointer;
}

/* 상세페이지 */

.portal .modal {
  border-radius: 8px;
}

.modal__content {
  border-radius: 8px;
  padding: 20px;
}

.modal__btns .btn:nth-of-type(n + 2) {
  border-radius: 0px 0px 8px 0px !important;
}

.modal__btns .btn {
  border-radius: 8px;
  height: 48px;
}

.cart__order-btn {
  border-radius: 8px;
  height: 56px;
}

.product-summary {
  margin: 20px 20px;
  padding: 0;
}

.product-summary__brand-info {
  font-size: 12px;
  margin-top: 0px;
  color: #a3a3a3;
  margin-bottom: 4px;
  line-height: 1.5;
}

.product-summary__combined {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 1.5;
}

.product-summary__price-info {
  margin-top: 0px;
  margin-bottom: 16px;
}

.product-summary__price-detail {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-summary__off-percent {
  display: flex;
  align-items: center;
  margin-right: 4px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  color: #f2335c;
}

.product-summary__off-percent span {
  font-size: 24px;
  font-weight: 800;
  color: #f2335c;
}

.product-summary__discounted-price {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  padding-bottom: 4px;
}

.product-summary__discounted-price span {
  margin-left: 0px;
  font-size: 24px;
  font-weight: 800;
  vertical-align: top;
}

.product-review-summary__title {
  margin-top: 0;
  font-weight: 800;
  font-size: 24px;
}

.product-summary__original-price {
  font-size: 18px;
  margin-top: 0px;
}

.product-summary dd {
  font-size: 12px;
  padding-left: 4px;
  line-height: 1;
}

.product-summary__freight-line {
  border-top: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.product-detail .tabs {
  margin: 0;
  top: 57px;
}

.editor p {
  margin: 0;
}

.product-content__box {
  padding: 0;
  margin-bottom: 40px;
}

.product-content__content .product-content__more-btn::before {
  height: 20px;
  bottom: 40px;
  background: transparent;
}

.product-content__content .product-content__more-btn {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}

.product-content__more-btn button {
  color: #327bff;
  font-family: Pretendard-Regular;
  height: 48px;
  line-height: 0px;
  border-width: 0px;
  background-color: #ebeeff;
  border-radius: 200px;
  border-width: 1px;
  border-color: #acb3ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-content-review {
  padding: 20px;
}

.product-detail .product-content-review {
  padding: 20px;
}

.product-review-summary__title {
  margin-top: 0;
  text-align: left;
  font-weight: 800;
  line-height: 2;
  font-size: 24px;
}

.product-review-summary__rating {
  margin-top: 8px;
  margin-bottom: 32px;
  justify-content: left;
}

.product-review-summary__score {
  color: var(--gray-font-color);
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-top: 8px;
}

.product-board-list__search {
  border-top: 0px;
  margin-bottom: 12px;
}

.product-board-list__search p {
  font-size: 16px;
}

.product-board-list__empty {
  padding-bottom: 240px;
}

.product-board-list__empty-notes {
  padding: 0px;
}

.product-board-list__sort-type select {
  text-align: end;
  padding-right: 24px;
}

.product-board-list__total-count {
  color: #000000;
}

.product-content-inquiry {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.product-inquiry-summary__title {
  font-size: 24px;
  margin-top: 0px;
  font-weight: 800;
  height: 48px;
  display: flex;
  align-items: center;
}

.product-inquiry-summary__description {
  text-align: left;
  padding: 0px;
  margin: 12px 0px;
}

.product-inquiry-summary__write-btn {
  margin: 20px 0px;
}

.product-content__title {
  font-size: 24px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2;
  display: flex;
  align-items: center;
}

.product-content-shipping-claim {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.product-content-shipping-claim .editor {
  padding-bottom: 20px;
}

.product-content__certification {
  border-top: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 0;
  padding: 20px;
}

.product-content__certification--duty-info dt {
  width: 140px;
}

.purchase__buy-btn {
  height: 56px;
}

.purchase__btns {
  min-height: 56px;
}

.purchase__like-btn {
  border: 0px;
  display: flex;
  align-items: center;
}

.purchase .select-box {
  border-radius: 8px;
  margin-bottom: 12px;
}

.purchase .quantity {
  padding: 16px;
  border-radius: 12px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.quantity__del {
  top: 12px;
  right: 12px;
}

.purchase__total {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

.purchase__naver-pay-btn {
  margin: 0;
}

/* 검색 */

.search-keyword-modal__back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  position: static;
  transform: none;
  padding-right: 0px;
  cursor: pointer;
}

.search-keyword-modal__top {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  height: 56px;
  border-bottom: 2px solid #f5f6f8;
}

.recent-keyword__top {
  padding: 16px 0px;
}

.search-keyword-modal .recent-keyword {
  width: 100%;
  margin: 0;
  border: 0;
}

.search-field__submit-btn {
  margin: 0px;
}

.search-keyword-modal .text-field input {
  font-size: 16px;
}

/* 주문 페이지 */

.accordion__title {
  padding: 20px 20px 0px 20px;
}

.order-sheet .accordion__title {
  border-width: 0;
}

.order-sheet__promotion-title {
  border-bottom: 0;
  padding-bottom: 0px;
}

.order-sheet__promotion-input button {
  border-radius: 8px;
}

.order-sheet__pay-btn {
  border-radius: 8px;
  height: 56px;
}

.order-sheet .text-field input,
.order-sheet select {
  background: #f8f8f8;
  border-color: #f5f6f8;
  border-radius: 8px;
  height: 56px;
  padding: 12px 16px;
  font-size: 16px;
}

.order-sheet__item {
  margin-bottom: 20px;
}

.text-field {
  border-radius: 8px;
}

.order-sheet .select-box {
  border-radius: 8px;
  padding: 0;
}

.order-sheet__domain-select {
  border: 1px #f5f6f8;
  margin-top: 12px;
}

.order-sheet__sign-in-btn {
  height: 56px;
  border-radius: 8px;
}

.order-sheet__promotion-input .input-with-unit {
  border-radius: 8px;
  background-color: #f8f8f8;
}

.price-tag {
  border: 0;
  padding: 0;
}

.price-tag__details {
  row-gap: 12px;
}

.price-tag__division {
  margin: 24px 0px;
}

.price-tag__final-amount dt,
.price-tag__final-amount dd,
.price-tag__final-amount dd em {
  color: #333d4b;
  font-size: 20px;
  font-weight: 800;
}

.order-sheet__payment-info {
  padding: 20px;
  margin: 0;
}

.order-detail__product-top-label {
  border-radius: 8px;
  padding: 12px;
}

.order-detail__next-action-btns .btn {
  height: 48px;
  border-radius: 8px;
}

.order-detail__list-btn-wrap .btn {
  height: 56px;
  border-radius: 8px;
}

/* 마이페이지 */

.my-info {
  padding: 20px;
  background-color: #ffffff;
}

.my-info__summary {
  display: flex;
  align-items: flex-start;
}

.my-info__grade {
  color: #333d4b;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.my-info__member-benefit {
  right: 0;
  width: 88px;
  border-width: 0;
  border-radius: 4px;
}

.my-info__greeting {
  color: #333d4b;
  font-size: 24px;
  font-weight: 800;
  margin-right: 8px;
  margin-bottom: 0px;
}

.member-grade-name {
  color: #327bff;
  font-size: 12px;
  font-weight: 800;
  height: 24px;
  padding: 4px 8px;
  background-color: #f7f8ff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-info__member-benefit-label {
  font-weight: 400;
  color: #6b7684;
}

.my-coupon-data {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #6b7684;
  margin-right: 100px;
}

.my-coupon-data__link::before {
  width: 0;
}

.my-coupon-data__link {
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-coupon-data__num {
  margin-top: 8px;
  font-size: 14px;
}

.my-orders {
  padding: 20px 20px;
  background-color: #ffffff;
}

.my-orders__link {
  width: 100%;
  height: 48px;
  background-color: #f8f8f8;
}

.my-orders-link__check {
  width: 100%;
  height: 48px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 8px;
}

.my-orders-link__claim {
  width: 100%;
  height: 48px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  border-radius: 8px;
}

.my-link {
  height: 56px;
  display: flex;
  align-items: center;
}

.my-link + .my-link {
  border: 0px;
}

.my-link__ico {
  transform: none;
  top: auto;
}

.empty-list {
  border-width: 0px;
}

.password-authentication__button-wrap button {
  width: 48%;
  height: 48px;
  border-radius: 8px;
}

.footer__info {
  margin-bottom: 0px;
}

.profile-shipping-address__registration-button {
  font-size: 16px;
  height: 48px;
  border-radius: 8px;
}

.shipping-address-form__item {
  margin-top: 0px;
  margin-bottom: 20px;
}

.shipping-address-form .text-field input {
  height: 56px;
  background: #f8f8f8;
  border-color: #f5f6f8;
}

.shipping-address-form .phone-number-input span {
  height: 56px;
  background: #f8f8f8;
  border-color: #f5f6f8;
}

.phone-number-input .select-box,
.sign-up-form__input-wrap > .select-box {
  background: #f8f8f8;
  overflow: hidden;
}

.shipping-address-form__buttons button {
  height: 48px;
  border-radius: 8px;
}

.address-form__zip-code > .text-field,
.address-form__zip-code > .btn {
  border-radius: 8px;
}

.my-page__total-count {
  font-size: 20px;
}

.my-page__count {
  font-size: 20px;
}

.customer-center__inquiry-button {
  height: 48px;
  border-radius: 8px;
}

.sign-up-confirm {
  padding: 40px 20px;
}

.sign-up-confirm__notice-description {
  margin-top: 20px;
  font-size: 16px;
}

/* 로그인 */

.open-id-sign-in__item.type-naver button {
  padding: 8px;
  height: 56px;
  border-radius: 8px;
  font-weight: 800;
  margin-bottom: 10px;
}

.open-id-sign-in__item.type-kakao-sync button {
  padding: 8px;
  height: 56px;
  border-radius: 8px;
  font-weight: 800;
}

.sign-in {
  padding-top: 40px;
}

.sign-in__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in__logo img {
  height: 40px;
}

.sign-in__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}

.sign-in__image img {
  width: 60%;
}

.sign-in__title {
  line-height: 1.5;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.sign-in__description {
  color: #6b7684;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sign-in-open-id {
  margin-top: 0px;
  margin-bottom: 0px;
}

.open-id-sign-in__list {
  margin-top: 0px;
}

.open-id-sign-in__item {
  margin-top: 0px;
}

.normal-sign-in button {
  height: 48px;
  border-radius: 8px;
  margin-top: 12px;
}

.normal-sign-in__title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

.normal-sign-in__input-wrap {
  border-radius: 8px;
  border: 1px solid var(--default-color);
  height: 56px;
  overflow: hidden;
}

.normal-sign-in__input-wrap:first-child {
  height: 56px;
}

.normal-sign-in__input-wrap input {
  padding-left: 16px;
  padding-right: 16px;
}

.sign-up-form__item {
  margin-top: 24px;
}

.sign-up-form__input-wrap .phone-number-input + .btn--default,
.sign-up-form__input-wrap .text-field + .btn--default {
  height: 56px;
}

.sign-up-form__input-wrap .text-field input {
  background-color: #f8f8f8;
  line-height: 1.5;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
}

.sign-up-confirm__nav {
  width: 100%;
}

.sign-up-confirm__nav li {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.guest-order {
  margin-top: 0;
  padding-top: 20px;
}

.sign-in-link {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 20px;
}

.guest-order-link {
  padding: 8px;
  height: 48px;
  border-radius: 8px;
}

.guest-order button {
  padding: 8px;
  height: 48px;
  border-radius: 8px;
}

.find-id {
  margin: 20px 20px 40px 20px;
  padding: 0px;
}

.find-id-form__input-wrap .text-field {
  border-radius: 8px;
  border: 1px solid var(--default-color);
  height: 56px;
  overflow: hidden;
}

.find-id-form__input-wrap input {
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}

.find-id-form__input-wrap select {
  line-height: 1.5;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid var(--default-color);
  overflow: hidden;
}

.find-id-form__btn-wrap {
  margin-top: 20px;
}

.find-id-form__btn-wrap button {
  height: 48px;
  border-radius: 8px;
}

.find-password {
  margin: 20px 20px 40px 20px;
  padding: 0px;
}

.find-password-form__input-wrap input {
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid var(--default-color);
  overflow: hidden;
}

.find-password-form__input-wrap select {
  line-height: 1.5;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid var(--default-color);
  overflow: hidden;
}

.find-password-form__btn-wrap {
  margin-top: 20px;
}

.find-password-form__btn-wrap a {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  margin-right: 4px;
}

.find-password-form__btn-wrap button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  margin-left: 4px;
}

.find-password-authentication {
  margin: 20px;
  padding: 0px;
}

.find-password-authentication__input-wrap input {
  line-height: 1.5;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
}

.find-password-authentication__btn-wrap button {
  height: 48px;
  border-radius: 8px;
}

.sign-up-menu__link-normal a {
  border-radius: 8px;
  height: 48px;
}

.sign-up-menu__link-open-id {
  margin-top: 20px;
}

.email-input {
  margin-bottom: 8px;
}

.phone-number-input .select-box,
.sign-up-form__input-wrap > .select-box {
  line-height: 1.5;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
}

.sign-up-form__input-wrap .select-box select {
  line-height: 1.5;
  height: 56px;
  padding: 0px;
}

.sign-up-form__checkbox--all {
  display: flex;
  justify-content: left;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1;
  height: 48px;
}

.sign-up-form__confirm {
  margin-top: 20px;
}

.sign-up-form__confirm button {
  padding: 8px;
  height: 48px;
  border-radius: 8px;
  font-weight: 800;
}

.open-id-agreement-form__title {
  line-height: 1.5;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

/* 장바구니 */

.cart__quantity-controller {
  background-color: transparent;
  padding: 12px 0px;
}

/* 공지사항 */

.notice__title {
  height: 56px;
}

.notice__tit {
  font-weight: 800;
}

.notice-detail__content {
  padding: 0px;
  margin-bottom: 0px;
}

.notice-button-link {
  height: 56px;
  width: 100%;
  background-color: #327bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  line-height: 56px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
